<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>
</head>
<body>
<div>
    <div>
        <h1>Oops... something went wrong.</h1>
        <h2 th:text="${status + ' ' + error}"></h2>
        <p><a href="/" th:href="@{/}">Back to home page</a></p>
    </div>
</div>
</body>
</html>