<div>
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" style="z-index: 1; margin-top: 3rem;">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#" th:text="${title}"></a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                         th:src="@{/img/user.jpg}"
                         alt="User picture"/>
                </div>
                <div class="user-info">
                    <span class="user-name">
                        <strong>-</strong>
                    </span>
                    <span class="user-role">-</span>
                    <span class="user-role">-</span>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Menu</span>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span>Master</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a th:href="@{/matakuliah}">Data Matakuliah</a>
                                </li>
                                <li>
                                    <a th:href="@{/dosen}">Data Dosen</a>
                                </li>
                                <li>
                                    <a th:href="@{/mahasiswa}">Data Mahasiswa</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/kelas}">
                            <i class="fa fa-book"></i>
                            <span>Ambil Matakuliah</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script type="text/javascript" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function (evt) {
        document.querySelectorAll('.sidebar-dropdown > a').forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelectorAll('.sidebar-submenu').forEach(function (item) {
                    slideUp(item);
                });
                if (hasClass(el.parentElement, 'active')) {
                    document.querySelectorAll('.sidebar-dropdown').forEach(function (item) {
                        item.classList.remove('active');
                    });
                    el.parentElement.classList.remove('active');
                } else {
                    document.querySelectorAll('.sidebar-dropdown').forEach(function (item) {
                        item.classList.remove('active');
                    });
                    slideDown(el.nextElementSibling);
                    el.parentElement.classList.add('active');
                }
            });
        });
        document.getElementById('close-sidebar').addEventListener('click', function () {
            document.getElementsByClassName('page-wrapper')[0].classList.remove("toggled");
        });
        document.getElementById('show-sidebar').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementsByClassName('page-wrapper')[0].classList.add("toggled");
        });
    });

    function slideUp(el) {
        el.style.transition = "all 2s ease-in-out";
        el.style.display = "none";
    }

    function slideDown(el) {
        el.style.transition = "all 2s ease-in-out";
        el.style.display = "inline-block";
    }

    function hasClass(element, className) {
        return (' ' + element.className + ' ').indexOf(' ' + className + ' ') > -1;
    }
</script>