<div class="row">
    <div class="col-md-12 col-lg-12">
        <form th:name="frAdd" th:method="POST" th:action="@{/dosen}" th:object="${dosen}"
              onsubmit="return validateForm('frAdd')">
            <input type="hidden" th:field="*{idDosen}">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{nip}" placeholder="NIP">
                <label for="nip" class="form-text d-none" style="color: #f44336;">Field harus diisi</label>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{namaDosen}" placeholder="Nama">
                <label for="namaDosen" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <div class="form-group">
                <label>Pilih Gelar</label>
                <select class="form-control" th:field="*{gelar}">
                    <option value=""> Pilih Gelar</option>
                    <option value="Diploma">Diploma</option>
                    <option value="Sarjana">Sarjana</option>
                    <option value="Magister">Magister</option>
                    <option value="Doktor">Doktor</option>
                </select>
                <label for="gelar" class="form-text d-none" style="color: #f44336;">Field harus diisi</label>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success float-right" type="button" id="btnAddRiwayat">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <br>
            <br>
            <br>
            <div class="form-group">
                <table class="table" id="tblRiwayat">
                    <thead>
                    <tr>
                        <th>Jurusan</th>
                        <th>Sekolah</th>
                        <th>Strata</th>
                        <th>Th. Mulai</th>
                        <th>Th. Selesai</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="res, stat : *{riwayatPendidikans}">
                        <tr>
                            <input type="hidden" th:field="*{riwayatPendidikans[__${stat.index}__].idRiwayat}"/>
                            <td>
                                <input type="text" class="form-control" th:field="*{riwayatPendidikans[__${stat.index}__].jurusan}"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{riwayatPendidikans[__${stat.index}__].sekolah}"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{riwayatPendidikans[__${stat.index}__].strata}"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{riwayatPendidikans[__${stat.index}__].tahunMulai}"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" th:field="*{riwayatPendidikans[__${stat.index}__].tahunSelesai}"/>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger float-right" type="button" name="btnRemoveRiwayat" onclick="removeRiwayat(this)">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary float-right" type="submit">Simpan</button>
        </form>
    </div>
</div>