<div class="card" style="overflow: auto;">
    <div class="card-header">
        <div class="navbar">
            <div class="mr-auto">
                <h4>Data Dosen</h4>
            </div>
            <div class="mr-2">
                <form th:method="GET" th:action="@{/dosen}">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Pencarian..." th:name="keyword"
                               th:value="${param.keyword}">
                        <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mr-2">
                <button class="btn btn-outline-success">
                    <i class="fa fa-plus" onclick="openModalAdd(0)"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>NIP</th>
                <th>Nama</th>
                <th>Gelar</th>
                <th>Riwayat Pendidikan</th>
                <th>Opsi</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="res, i : ${data.content}">
                <tr>
                    <td th:text="${res.nip}"></td>
                    <td th:text="${res.namaDosen}"></td>
                    <td th:text="${res.gelar}"></td>
                    <td>
                        <button class="btn btn-link" th:onclick="|openModalRiwayat('${i.index}')|">Lihat</button>
                    </td>
                    <td>
                        <!--<button class="btn btn-outline-primary" th:onclick="|openModalMatakuliah('${i.index}')|">-->
                            <!--<i class="fa fa-eye"></i> Tambah Matakuliah-->
                        <!--</button>-->
                        <button class="btn btn-primary" th:onclick="|openModalAdd('${res.idDosen}')|">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" th:onclick="|openModalDel('${res.idDosen}')|">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-left">
            <p th:text="'Data: ' + ${data.totalElements}"></p>
        </div>
        <div class="float-right">
            <nav>
                <ul class="pagination justify-content-end" th:if="${data.totalPages} > 0">
                    <li class="page-item"
                        th:classappend="${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} <= 1 or ${param.page} == null ? disabled : ''">
                        <a class="page-link"
                           th:href="@{/dosen(page=(${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} - 1), keyword=${param.keyword})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(1, data.totalPages)}">
                        <li class="page-item"
                            th:classappend="${#strings.equals(param.page, #strings.toString(i))} ? active : ''">
                            <a class="page-link" th:href="@{/dosen(page=${i}, keyword=${param.keyword})}"
                               th:text="${i}"></a>
                        </li>
                    </th:block>
                    <li class="page-item"
                        th:classappend="${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} >= ${data.totalElements} ? disabled : ''">
                        <a class="page-link"
                           th:href="@{/dosen(page=(${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} + 1), keyword=${param.keyword})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    var data = [[${data}]];
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
    });

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Dosen</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                var btnAddRiwayat = document.getElementById('btnAddRiwayat');
                btnAddRiwayat.addEventListener('click', function (ev) {
                    var tbl = document.getElementById('tblRiwayat').getElementsByTagName('tbody')[0];
                    var name = "riwayatPendidikans";
                    var btnRemoveRiwayat = document.querySelectorAll('[name="btnRemoveRiwayat"]');
                    var lastFieldId = "";
                    var idx = "";
                    var newId = name + "0";
                    var newName = name + "[0]";
                    if (btnRemoveRiwayat.length > 0) {
                        lastFieldId = tbl.getElementsByTagName('tr')[btnRemoveRiwayat.length - 1].firstElementChild.id;
                        idx = parseInt(lastFieldId.substring(name.length, lastFieldId.indexOf("."))) + 1;
                        newId = name + idx;
                        newName = name + "[" + idx + "]";
                    }
                    str = "<tr>" +
                        "<input type='hidden' id='" + newId + ".idRiwayat' name='" + newName + ".idRiwayat' value='0'>" +
                        "<td>" +
                        "<input type='text' class='form-control' id='" + newId + ".jurusan' name='" + newName + ".jurusan'>" +
                        "</td>" +
                        "<td>" +
                        "<input type='text' class='form-control' id='" + newId + ".sekolah' name='" + newName + ".sekolah'>" +
                        "</td>" +
                        "<td>" +
                        "<input type='text' class='form-control' id='" + newId + ".strata' name='" + newName + ".strata'>" +
                        "</td>" +
                        "<td>" +
                        "<input type='text' class='form-control' id='" + newId + ".tahunMulai' name='" + newName + ".tahunMulai'>" +
                        "</td>" +
                        "<td>" +
                        "<input type='text' class='form-control' id='" + newId + ".tahunSelesai' name='" + newName + ".tahunSelesai'>" +
                        "</td>" +
                        "<td>" +
                        "<button class='btn btn-outline-danger float-right' type='button' name='btnRemoveRiwayat' onclick='removeRiwayat(this)'>" +
                        "<i class='fa fa-minus'></i>" +
                        "</button>" +
                        "</td>" +
                        "</tr>";
                    tbl.insertAdjacentHTML("beforeend", str);
                });
            }
        };
        xhr.open("GET", API_BASE_URL + '/dosen/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.querySelector('.modal-dialog').classList.add("modal-lg");
        mdl.classList.replace("hidden", "shown");
    }

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="dosen/del">' +
            '<input type="hidden" name="idDosen" value="' + id + '">' +
            '<button class="btn btn-danger float-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.classList.replace("hidden", "shown");
    }

    function openModalRiwayat(idx) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Riwayat Pendidikan</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                str = "";
                var tbl = document.getElementById('tblRiwayat');
                tbl.getElementsByTagName('tbody')[0].innerHTML = str;
                var thisDosen = data.content[idx];
                for (var i = 0; i < thisDosen.riwayatPendidikans.length; i++) {
                    str += '<tr>' +
                        '<td>' + thisDosen.riwayatPendidikans[i].jurusan + '</td>' +
                        '<td>' + thisDosen.riwayatPendidikans[i].sekolah + '</td>' +
                        '<td>' + thisDosen.riwayatPendidikans[i].strata + '</td>' +
                        '<td>' + thisDosen.riwayatPendidikans[i].tahunMulai + '</td>' +
                        '<td>' + thisDosen.riwayatPendidikans[i].tahunSelesai + '</td>' +
                        '</tr>';
                }
                tbl.getElementsByTagName('tbody')[0].innerHTML = str;
            }
        };
        xhr.open("GET", API_BASE_URL + '/dosen/riwayat', true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.querySelector('.modal-dialog').classList.add("modal-lg");
        mdl.classList.replace("hidden", "shown");
    }

    function removeRiwayat(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function openModalMatakuliah(idx) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Setting Matakuliah</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                document.getElementById('idDosen').value = data.content[idx].idDosen;
                document.getElementById('nip').value = data.content[idx].nip;
                document.getElementById('namaDosen').value = data.content[idx].namaDosen;
                document.getElementById('gelar').value = data.content[idx].gelar;
            }
        };
        xhr.open("GET", API_BASE_URL + '/dosen/matakuliah/0', true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.classList.replace("hidden", "shown");
    }

    function saveMatakuliah(input) {
        var str = '{"' + input.value.replace(/ /gm, "").replace(/:/gm, '":"').replace(/,/gm, '","') + '"}';
        var obj = JSON.parse(str);
        Object.assign(obj, {
            dosens: [
                {
                    idDosen: document.getElementById('idDosen').value,
                    nip: document.getElementById('nip').value,
                    namaDosen: document.getElementById('namaDosen').value,
                    gelar: document.getElementById('gelar').value
                }
            ]
        });
        var xhr = new XMLHttpRequest();
        if (input.checked) {
            xhr.open('POST', API_BASE_URL + "/api/matakuliah/dosen", true);
        } else {
            xhr.open('DELETE', API_BASE_URL + "/api/matakuliah/dosen", true);
        }
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                var res = JSON.parse(xhr.responseText);
                handleSnackbar(res.msg);
            }
        };
        xhr.send(JSON.stringify(obj));
    }
</script>