<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Nama</th>
        <th>Jumlah SKS</th>
    </tr>
    </thead>
    <tbody>
    <input type="hidden" id="idDosen">
    <input type="hidden" id="nip">
    <input type="hidden" id="namaDosen">
    <input type="hidden" id="gelar">
    <th:block th:each="res : ${matakuliahs.content}">
        <tr>
            <td>
                <input type="checkbox" th:value="
                'idMatakuliah: ' + ${res.idMatakuliah} + ',' +
                'namaMatakuliah: ' + ${res.namaMatakuliah} + ','  +
                'jmlSks: ' + ${res.jmlSks}"
                       onclick="saveMatakuliah(this)">
            </td>
            <td th:text="${res.namaMatakuliah}"></td>
            <td th:text="${res.jmlSks}"></td>
        </tr>
    </th:block>
    </tbody>
</table>