<table class="table" id="tblRiwayat">
    <thead>
    <tr>
        <th>Jurusan</th>
        <th>Sekolah</th>
        <th>Strata</th>
        <th>Th. Mulai</th>
        <th>Th. Selesai</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>