<div th:if="${filterPg != ''}">
    <div th:replace="${filterPg}"></div>
</div>

<div>
    <!--<h4 th:text="${title}"></h4>-->
    <!--<small th:text="${subtitle}"></small>-->
    <div th:replace="${mainPg}"></div>
</div>