@keyframes swing {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(10deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(5deg); }
  70% {
    transform: rotate(0deg); }
  80% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }
.center-content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 1rem; }

.page-wrapper .sidebar-wrapper {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sidebar-wrapper .sidebar-brand > a, .sidebar-wrapper .sidebar-dropdown > a:after, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before, .sidebar-wrapper ul li a i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.page-wrapper .page-content {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.sidebar-wrapper .sidebar-search input.search-menu, .sidebar-wrapper .sidebar-search .input-group-text {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.sidebar-wrapper .sidebar-menu li {
  padding: 0; }
  .sidebar-wrapper .sidebar-menu li a {
    text-align: left; }
.sidebar-wrapper .sidebar-menu ul li a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#show-sidebar, #close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh; }
  .page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px; }
    .page-wrapper .theme.chiller-theme {
      background: #1e2229; }
  .page-wrapper.toggled .sidebar-wrapper {
    left: 0px; }

/*----------------toggeled sidebar----------------*/
@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 260px; } }
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s; }

.page-wrapper.toggled #show-sidebar {
  left: -40px; }

/*----------------sidebar-wrapper----------------*/
.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999; }
  .sidebar-wrapper ul {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .sidebar-wrapper a {
    text-decoration: none; }

/*----------------sidebar-content----------------*/
.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative; }
  .sidebar-content.desktop {
    overflow-y: hidden; }

/*--------------------sidebar-brand----------------------*/
.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center; }
  .sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1; }
  .sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px; }
.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden; }
  .sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden; }
    .sidebar-wrapper .sidebar-header .user-pic img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .sidebar-wrapper .sidebar-header .user-info {
    float: left; }
    .sidebar-wrapper .sidebar-header .user-info > span {
      display: block; }
    .sidebar-wrapper .sidebar-header .user-info .user-role {
      font-size: 12px; }
    .sidebar-wrapper .sidebar-header .user-info .user-status {
      font-size: 11px;
      margin-top: 4px; }
      .sidebar-wrapper .sidebar-header .user-info .user-status i {
        font-size: 8px;
        margin-right: 4px;
        color: #5cb85c; }
.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px; }
.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px; }
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block; }
  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px; }
    .sidebar-wrapper .sidebar-menu ul li a i {
      margin-right: 10px;
      font-size: 12px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 4px; }
    .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
      display: inline-block;
      animation: swing ease-in-out 0.5s 1 alternate; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
    width: 100%;
    transition: all 3s ease-in-out; }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
      padding: 5px 0; }
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
      padding-left: 25px;
      font-size: 13px; }
      .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
        content: "\f111";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;
        font-size: 8px; }
  .sidebar-wrapper .sidebar-menu ul li a span.label, .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px; }
  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none; }
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px; }

/*--------------------sidebar-header----------------------*/
/*-----------------------sidebar-search------------------------*/
/*----------------------sidebar-menu-------------------------*/
/*--------------------------side-footer------------------------------*/
.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex; }
  .sidebar-footer > a {
    flex-grow: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative; }
    .sidebar-footer > a .notification {
      position: absolute;
      top: 0; }

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0; }
  .badge-sonar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #980303;
    opacity: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite; }

/*--------------------------page-content-----------------------------*/
.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 0px;
  overflow-x: hidden; }
  .page-wrapper .page-content > div {
    padding: 20px 40px; }

/*------scroll bar---------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 7px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px; }
  ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    background: #525965; }

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px; }
  ::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active {
    background: transparent; }

::-webkit-scrollbar-corner {
  background: transparent; }

/*-----------------------------chiller-theme-------------------------------------------------*/
.chiller-theme .sidebar-wrapper {
  background: #31353D; }
  .chiller-theme .sidebar-wrapper .sidebar-header, .chiller-theme .sidebar-wrapper .sidebar-search, .chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48; }
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none; }
  .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role, .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status {
    color: #818896; }
  .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    color: #818896; }
  .chiller-theme .sidebar-wrapper .sidebar-brand > a, .chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
    color: #818896; }
.chiller-theme .sidebar-footer > a {
  color: #818896; }
.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a {
  color: #b8bfce; }
.chiller-theme .sidebar-wrapper .sidebar-header .user-info, .chiller-theme .sidebar-wrapper .sidebar-brand > a:hover {
  color: #b8bfce; }
.chiller-theme .sidebar-footer > a:hover i {
  color: #b8bfce; }

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd; }
  .page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff; }

.chiller-theme .sidebar-wrapper ul li:hover a i, .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5); }
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5); }
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background: #3a3f48; }
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48; }
.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88; }
.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52; }
  .chiller-theme .sidebar-footer > a:first-child {
    border-left: none; }
  .chiller-theme .sidebar-footer > a:last-child {
    border-right: none; }

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: 0.3s linear all; }

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: 0.3s linear all; }

.card-counter.primary {
  background-color: #007bff;
  color: #FFF; }

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF; }

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF; }

.card-counter.info {
  background-color: #26c6da;
  color: #FFF; }

.card-counter i {
  font-size: 5em;
  opacity: 0.2; }

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block; }

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px; }

.dropdown-menu {
  margin-left: -80px !important; }

.page-item {
  padding: 0 !important; }

.img-fullwidth {
  width: 100%;
  height: 500px; }

.img-content {
  position: relative;
  width: 100%; }

.img-fade {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden; }

.img-fade-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.img-content:hover .img-fade {
  opacity: 0.3; }

.img-content:hover .img-fade-middle {
  opacity: 1; }

.img-overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  width: 100%; }

.img-content:hover .img-overlay {
  opacity: 1; }

.login-block {
  background: #DE6262;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFB88C, #DE6262);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0; }

.banner-sec {
  background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0; }

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1); }

.carousel-inner {
  border-radius: 0 10px 10px 0; }

.carousel-caption {
  text-align: left;
  left: 5%; }

.login-sec {
  padding: 50px 30px;
  position: relative; }

.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center; }

.login-sec .copy-text i {
  color: #FEB58A; }

.login-sec .copy-text a {
  color: #E36262; }

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #DE6262; }

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FEB58A;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto; }

.btn-login {
  background: #DE6262;
  color: #fff;
  font-weight: 600; }

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px; }

.banner-text h2 {
  color: #fff;
  font-weight: 600; }

.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FFF;
  display: block;
  margin-top: 20px;
  border-radius: 3px; }

.banner-text p {
  color: #fff; }

.hidden {
  display: none !important;
  animation: fade-out 0.5s; }

.shown {
  display: block !important;
  animation: fade-in 0.5s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=App.css.map */
