<div class="col-md-12 col-lg-12">
    <form th:name="frAdd" th:method="POST" th:action="@{/kelas}" th:object="${mahasiswa}"
          onsubmit="return validateForm('frAdd')">
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{idMahasiswa}" placeholder="ID. Mahasiswa">
            <label for="idMahasiswa" class="form-text d-none" style="color: #f44336;">Field harus diisi</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{nim}" placeholder="NIM" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" th:field="*{namaMahasiswa}" placeholder="Nama" readonly>
            <label for="namaMahasiswa" class="form-text d-none" style="color: #f44336;">Data mahasiswa ID tersebut tidak
                ditemukan</label>
        </div>
        <div class="form-group">
            <table class="table" id="tblMatakuliah">
                <thead>
                <tr>
                    <th>Nama</th>
                    <th>Jumlah SKS</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="res, stat : *{kelass}">
                    <tr>
                        <input type="hidden" th:field="*{kelass[__${stat.index}__].matakuliah.idMatakuliah}"/>
                        <input type="hidden" th:field="*{kelass[__${stat.index}__].mahasiswa.idMahasiswa}"/>
                        <input type="hidden" th:field="*{kelass[__${stat.index}__].mahasiswaMatakuliahIdentity.idMatakuliah}"/>
                        <input type="hidden" th:field="*{kelass[__${stat.index}__].mahasiswaMatakuliahIdentity.idMahasiswa}"/>
                        <input type="hidden" th:field="*{kelass[__${stat.index}__].nama}"/>
                        <td th:text="${res.matakuliah.namaMatakuliah}"></td>
                        <td th:text="${res.matakuliah.jmlSks}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary float-right" type="submit">Simpan</button>
    </form>
</div>