<div class="card" style="overflow: auto;">
    <div class="card-header">
        <div class="navbar">
            <div class="mr-auto">
                <h4>Data Matakuliah</h4>
            </div>
            <div class="mr-2">
                <!--<form th:method="GET" th:action="@{/kelas}">-->
                    <!--<div class="input-group">-->
                        <!--<input class="form-control" type="text" placeholder="Pencarian..." th:name="keyword"-->
                               <!--th:value="${param.keyword}">-->
                        <!--<div class="input-group-append">-->
                            <!--<button class="btn btn-primary"><i class="fa fa-search"></i></button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th># Pilih Matakuliah</th>
                <th>Nama</th>
                <th>Jumlah SKS</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="res : ${data.content}">
                <tr>
                    <td>
                        <input type="checkbox" th:name="matakuliahId" th:value="${res.idMatakuliah}"
                               onclick="setButtonKelas()">
                        <input type="hidden" th:name="namaMatakuliah" th:value="${res.namaMatakuliah}">
                        <input type="hidden" th:name="jmlSks" th:value="${res.jmlSks}">
                    </td>
                    <td th:text="${res.namaMatakuliah}"></td>
                    <td th:text="${res.jmlSks}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-left">
            <label id="lblJmlSks"></label>
        </div>
        <div class="float-right">
            <button class="btn btn-outline-primary d-none" id="btnKelas">
                <i class="fa fa-save"></i> Ambil Matakuliah
            </button>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    var matakuliahId = document.querySelectorAll('[name="matakuliahId"]');
    var namaMatakuliah = document.querySelectorAll('[name="namaMatakuliah"]');
    var jmlSks = document.querySelectorAll('[name="jmlSks"]');
    var btnKelas = document.getElementById('btnKelas');
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
        btnKelas.addEventListener('click', function (ev) {
            var isChecked = false;
            for (var i = 0; i < matakuliahId.length; i++) {
                if (matakuliahId[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            if (isChecked) {
                openModalKelas();
            } else {
                handleSnackbar("Silahkan pilih matakuliah untuk melanjutkan");
            }
        });
    });

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="matakuliah/del">' +
            '<input type="hidden" name="id" value="' + id + '">' +
            '<button class="btn btn-danger float-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.querySelector('.modal-dialog').classList.add("modal-lg");
        mdl.classList.replace("hidden", "shown");
    }

    function openModalKelas() {
        var sumSks = 0;
        for (var i = 0; i < matakuliahId.length; i++) {
            if (matakuliahId[i].checked) {
                sumSks += parseInt(jmlSks[i].value);
            }
        }
        if (parseInt(sumSks) > 24) {
            handleSnackbar("SKS lebih dari 24");
            return;
        }
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Ambil Matakuliah</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                var idMahasiswa = document.querySelector('[name="idMahasiswa"]');
                var namaMahasiswa = document.querySelector('[name="namaMahasiswa"]');
                var nim = document.querySelector('[name="nim"]');
                idMahasiswa.addEventListener('keyup', function (e) {
                    if (this.value !== "") {
                        setupMahasiswa(this.value, namaMahasiswa, nim);
                    } else {
                        namaMahasiswa.value = "";
                        nim.value = "";
                    }
                });
                setupMatakuliahs();
            }
        };
        xhr.open("GET", API_BASE_URL + '/kelas/0', true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "<label style='color: #f44336;'>** Periksa kembali sebelum menyimpan</label>";
        mdlFooter.innerHTML = str;
        mdl.querySelector('.modal-dialog').classList.add("modal-lg");
        mdl.classList.replace("hidden", "shown");
    }

    function setButtonKelas() {
        var isChecked = false;
        var sumSks = 0;
        for (var i = 0; i < matakuliahId.length; i++) {
            if (matakuliahId[i].checked) {
                isChecked = true;
                break;
            }
        }
        for (var i = 0; i < matakuliahId.length; i++) {
            if (matakuliahId[i].checked) {
                sumSks += parseInt(jmlSks[i].value);
            }
        }
        document.getElementById('lblJmlSks').innerText = "Jumlah SKS terpilih: " + sumSks;
        if (isChecked) {
            btnKelas.classList.replace("d-none", 'd-block');
        } else {
            btnKelas.classList.replace("d-block", 'd-none');
        }
    }

    function setupMahasiswa(idMahasiswa, namaMahasiswa, nim) {
        var xhr1 = new XMLHttpRequest();
        xhr1.open('GET', API_BASE_URL + '/api/mahasiswa/' + idMahasiswa, true);
        xhr1.setRequestHeader('Content-Type', 'application/json');
        xhr1.onreadystatechange = function () {
            if (xhr1.readyState == XMLHttpRequest.DONE) {
                var res = JSON.parse(xhr1.responseText);
                namaMahasiswa.value = res.namaMahasiswa;
                nim.value = res.nim;
                var tblMatakuliah = document.getElementById('tblMatakuliah').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
                for (var i = 0; i < tblMatakuliah.length; i++) {
                    var mahasiswaId = tblMatakuliah[i].children[1].id;
                    var identityMahasiswaId = tblMatakuliah[i].children[3].id;
                    document.getElementById(mahasiswaId).value = res.idMahasiswa;
                    document.getElementById(identityMahasiswaId).value = res.idMahasiswa;
                }
            }
        };
        xhr1.send();
    }

    function setupMatakuliahs() {
        var str = "";
        var tbl = document.getElementById('tblMatakuliah');
        tbl.getElementsByTagName('tbody')[0].innerHTML = str;
        for (var i = 0; i < matakuliahId.length; i++) {
            if (matakuliahId[i].checked) {
                str += '<tr>' +
                    '<input type="hidden" id="kelass' + i + '.matakuliah.idMatakuliah" name="kelass[' + i + '].matakuliah.idMatakuliah" value="' + matakuliahId[i].value + '"/>' +
                    '<input type="hidden" id="kelass' + i + '.mahasiswa.idMahasiswa" name="kelass[' + i + '].mahasiswa.idMahasiswa" value="0"/>' +
                    '<input type="hidden" id="kelass' + i + '.mahasiswaMatakuliahIdentity.idMatakuliah" name="kelass[' + i + '].mahasiswaMatakuliahIdentity.idMatakuliah" value="' + matakuliahId[i].value + '"/>' +
                    '<input type="hidden" id="kelass' + i + '.mahasiswaMatakuliahIdentity.idMahasiswa" name="kelass[' + i + '].mahasiswaMatakuliahIdentity.idMahasiswa" value="0"/>' +
                    '<td>' + namaMatakuliah[i].value + '</td>' +
                    '<td>' + jmlSks[i].value + '</td>' +
                    '</tr>';
            }
        }
        tbl.getElementsByTagName('tbody')[0].innerHTML = str;
    }
</script>