<div class="card" style="overflow: auto;">
    <div class="card-header">
        <div class="navbar">
            <div class="mr-auto">
                <h4>Data Mahasiswa</h4>
            </div>
            <div class="mr-2">
                <form th:method="GET" th:action="@{/mahasiswa}">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Pencarian..." th:name="keyword"
                               th:value="${param.keyword}">
                        <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mr-2">
                <button class="btn btn-outline-success">
                    <i class="fa fa-plus" onclick="openModalAdd(0)"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Tempat, Tgl. Lahir</th>
                <th>Opsi</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="res, i : ${data.content}">
                <tr>
                    <td th:text="${res.nim}"></td>
                    <td th:text="${res.namaMahasiswa}"></td>
                    <td th:text="${res.jnsKelamin}"></td>
                    <td th:text="${res.tmpLahir} + ', ' + ${#dates.format(res.tglLahir, 'dd/MM/yyyy')}"></td>
                    <td>
                        <button class="btn btn-primary" th:onclick="|openModalAdd('${res.idMahasiswa}')|">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" th:onclick="|openModalDel('${res.idMahasiswa}')|">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-outline-primary" th:onclick="|openModalViewKelas('${i.index}')|">
                            <i class="fa fa-book"></i> Lihat Kelas
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-left">
            <p th:text="'Data: ' + ${data.totalElements}"></p>
        </div>
        <div class="float-right">
            <nav>
                <ul class="pagination justify-content-end" th:if="${data.totalPages} > 0">
                    <li class="page-item"
                        th:classappend="${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} <= 1 or ${param.page} == null ? disabled : ''">
                        <a class="page-link"
                           th:href="@{/mahasiswa(page=(${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} - 1), keyword=${param.keyword})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(1, data.totalPages)}">
                        <li class="page-item"
                            th:classappend="${#strings.equals(param.page, #strings.toString(i))} ? active : ''">
                            <a class="page-link" th:href="@{/mahasiswa(page=${i}, keyword=${param.keyword})}"
                               th:text="${i}"></a>
                        </li>
                    </th:block>
                    <li class="page-item"
                        th:classappend="${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} >= ${data.totalElements} ? disabled : ''">
                        <a class="page-link"
                           th:href="@{/mahasiswa(page=(${#numbers.formatInteger(param.page == null ? '1' : param.page, 1)} + 1), keyword=${param.keyword})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    var dataMahasiswa = [[${data}]];
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
    });

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Mahasiswa</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
            }
        };
        xhr.open("GET", API_BASE_URL + '/mahasiswa/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.classList.replace("hidden", "shown");
    }

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="mahasiswa/del">' +
            '<input type="hidden" name="idMahasiswa" value="' + id + '">' +
            '<button class="btn btn-danger float-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.classList.replace("hidden", "shown");
    }


    function openModalViewKelas(idx) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Kelas Saya</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                str = "";
                var tbl = document.getElementById('tblKelas');
                tbl.getElementsByTagName('tbody')[0].innerHTML = str;
                var thisMahasiswa = dataMahasiswa.content[idx];
                for (var i = 0; i < thisMahasiswa.kelass.length; i++) {
                    str += '<tr>' +
                        '<td>' + thisMahasiswa.kelass[i].namaKelas + '</td>' +
                        '<td>' + thisMahasiswa.kelass[i].matakuliah.namaMatakuliah + '</td>' +
                        '<td>' + thisMahasiswa.kelass[i].matakuliah.jmlSks + '</td>' +
                        '</tr>';
                }
                tbl.getElementsByTagName('tbody')[0].innerHTML = str;
            }
        };
        xhr.open("GET", API_BASE_URL + '/kelas/mahasiswa', true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.querySelector('.modal-dialog').classList.add("modal-lg");
        mdl.classList.replace("hidden", "shown");
    }
</script>