<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <script th:src="@{/js/base.js}"></script>
</head>
<body>
<div class="w3-row">
    <div class="w3-col m4 w3-display-middle">
        <div class="w3-card">
            <div class="w3-container w3-blue">
                <h2>Hitung Huruf Vokal</h2>
            </div>
            <form class="w3-container w3-center" th:method="POST" th:action="@{/hv}">
                <div class="w3-row w3-margin">
                    <div class="w3-col m12">
                        <label>Tulis Teks</label>
                        <textarea class="w3-input w3-border" th:name="in" th:text="${in}">
                        </textarea>
                    </div>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col m12">
                        <button class="w3-button w3-border w3-white" name="btnSub">
                            Tampilkan
                        </button>
                    </div>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col">
                        <table class="w3-table-all" id="tblData">
                            <thead>
                            <tr>
                                <th>Text Hasil</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="res : ${res}">
                                <tr>
                                    <td th:text="${res}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">

</script>
</html>