<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <script th:src="@{/js/base.js}"></script>
</head>
<body>
<div class="w3-center">
    <div class="w3-row">
        <div class="w3-col">
            <h1>HELLO WORLD</h1>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col m4">
            <a th:href="'/kal'" class="w3-button w3-blue">Kalkulator</a>
        </div>
        <div class="w3-col m4">
            <a th:href="'/gg'" class="w3-button w3-blue">Ganjil Genap</a>
        </div>
        <div class="w3-col m4">
            <a th:href="'/hv'" class="w3-button w3-blue">Hitung Huruf Vokal</a>
        </div>
    </div>
</div>
</body>
</html>