<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <script th:src="@{/js/base.js}"></script>
</head>
<body>
<div class="w3-row">
    <div class="w3-col m4 w3-display-middle">
        <div class="w3-card">
            <div class="w3-container w3-blue">
                <h2>Kalkulator Sederhana</h2>
            </div>
            <form class="w3-container w3-center" th:method="POST" th:action="@{/kal}">
                <div class="w3-row w3-margin">
                    <div class="w3-col m6 w3-padding">
                        <input class="w3-input w3-border" type="text" th:name="txtA" placeholder="Angka" th:value="${txtA}">
                    </div>
                    <div class="w3-col m6 w3-padding">
                        <input class="w3-input w3-border" type="text" th:name="txtB" placeholder="Angka" th:value="${txtB}">
                    </div>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col m12 w3-padding">
                        <label>Hasil</label>
                        <input type="text" class="w3-input w3-border" id="txtHsl" th:value="${res}" readonly>
                    </div>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col m3">
                        <button class="w3-button w3-border w3-white" name="opr" value="+">
                            +
                        </button>
                    </div>
                    <div class="w3-col m3">
                        <button class="w3-button w3-border w3-white" name="opr" value="-">
                            -
                        </button>
                    </div>
                    <div class="w3-col m3">
                        <button class="w3-button w3-border w3-white" name="opr" value="*">
                            *
                        </button>
                    </div>
                    <div class="w3-col m3">
                        <button class="w3-button w3-border w3-white" name="opr" value="/">
                            :
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">

</script>
</html>