<div class="w3-top">
    <div class="w3-bar" id="myNavbar">
        <a href="/" class="w3-bar-item">
            <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<span th:remove="tag" th:text="${title}"></span>
        </a>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function (e) {
        window.onscroll = function () {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card" + " w3-white";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-white", "");
            }
        };
    });

</script>