<div id="modalDefault" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom">
        <header class="w3-container">
            <span class="close w3-button w3-large w3-display-topright"
                  onclick="document.getElementById('modalDefault').style.display='none'">
                <i class="fa fa-times"></i>
            </span>
            <div id="modalTitle"></div>
        </header>
        <div class="w3-container">
            <div id="modalContent"></div>
        </div>
        <footer class="w3-container w3-padding">
            <div id="modalFooter"></div>
        </footer>
    </div>
</div>