<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-container">
        <div class="w3-col m12 l12">
            <div class="w3-card-4">
                <header class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col m10 l10 s6"><h4>Data Company</h4></div>
                        <div class="w3-col m2 l2 s6">
                            <div class="w3-right">
                                <button class="w3-button w3-green w3-circle w3-margin">
                                    <i class="fa fa-plus" onclick="openModalAdd(0)"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m10 l10 s10">
                            <!--<div th:unless="${res.anonymous}">-->
                            <!--<div th:text=" 'Hi,' + ${customer.name}">Hi, User</div>-->
                            <!--</div>-->
                            <!--<input class="square-input-search" name="keywords" type="text"-->
                            <!--placeholder="Cari Judul ..."-->
                            <!--th:value="${param.s}"-->
                            <!--style="padding: 2px 20px 1px 40px; min-width: 152px;"/>-->
                        </div>
                    </div>
                </header>
                <br>
                <div class="w3-container">
                    <div class="w3-responsive">
                        <table class="w3-table-all">
                            <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Alamat</th>
                                <th>Opsi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="res : ${data}">
                                <tr>
                                    <td th:text="${res.nama}"></td>
                                    <td th:text="${res.alamat}"></td>
                                    <td>
                                        <button class="w3-button w3-blue w3-circle">
                                            <i class="fa fa-pencil" th:onclick="|openModalAdd('${res.id}')|"></i>
                                        </button>
                                        <button class="w3-button w3-red w3-circle">
                                            <i class="fa fa-trash" th:onclick="|openModalDel('${res.id}')|"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
    });

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Company</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
            }
        };
        xhr.open("GET", API_BASE_URL + '/company/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Company</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
            }
        };
        xhr.open("GET", API_BASE_URL + '/company/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="company/del">' +
            '<input type="hidden" name="id" value="' + id + '">' +
            '<button class="w3-button w3-red w3-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.style.display = 'block';
    }

</script>