<div class="row">
    <div class="col-md-12 col-lg-12">
        <form th:name="frAdd" th:method="POST" th:action="@{/matakuliah}" th:object="${matakuliah}"
              onsubmit="return validateForm('frAdd')">
            <input type="hidden" th:field="*{idMatakuliah}">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{namaMatakuliah}" placeholder="Nama">
                <label for="namaMatakuliah" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" th:field="*{jmlSks}" placeholder="Jumlah SKS">
                <label for="tmpLahir" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <button class="btn btn-primary float-right" type="submit">Simpan</button>
        </form>
    </div>
</div>