<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-center">
        <a th:href="@{/company}" class="w3-button w3-blue w3-margin">Data Company</a>
        <a th:href="@{/employee}" class="w3-button w3-orange w3-margin">Data Employee</a>
    </div>
</div>