<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-center">
        <a th:href="@{/propinsi}" class="w3-button w3-blue w3-margin">Data Propinsi</a>
        <a th:href="@{/kabkot}" class="w3-button w3-green w3-margin">Data Kabkot</a>
        <a th:href="@{/kecamatan}" class="w3-button w3-orange w3-margin">Data Kecamatan</a>
    </div>
</div>