html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.5s;
  background-color: white; }

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8; }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.w3-wide {
  letter-spacing: 10px; }

.w3-hover-opacity {
  cursor: pointer; }

.w3-content {
  max-width: 90%; }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px; } }
a {
  text-decoration: none;
  color: #212121; }

.disabled {
  pointer-events: none;
  cursor: not-allowed; }

.square-input-search {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../img/searchicon.png");
  background-size: 25px 25px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none; }

.square-input-search:focus {
  width: 85%;
  border: 2px solid #2196F3; }

.select {
  /* styling */
  background-color: white;
  border: thin solid #92a8d1;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.1em 3.5em 0.1em 1em;
  /* reset */
  margin: 10px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  height: 35px; }

/* arrows */
.select .classic {
  background-image: linear-gradient(45deg, transparent 50%, #212121 50%), linear-gradient(135deg, #212121 50%, #212121 50%), linear-gradient(to right, #BBDEFB, #BBDEFB);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat; }

.select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0; }

.select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.2em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat; }

.select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 0.5em) 0.2em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: #2196F3;
  outline: 0; }

.select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.6em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }

.select.minimal:focus {
  background-image: linear-gradient(45deg, #2196F3 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #2196F3 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.6em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border: 2px solid #2196F3;
  outline: 0; }

.select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

.form-inline {
  width: 100%;
  min-height: 50vh;
  background-color: white;
  padding: 2rem; }
  .form-inline label {
    margin-right: 20px; }

.form-default {
  min-height: 30vh;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  margin-top: 1rem; }

.img-fullwidth {
  width: 100%;
  max-height: 600px; }

.img-content {
  position: relative;
  width: 100%; }

.img-fade {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden; }

.img-fade-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.img-content:hover .img-fade {
  opacity: 0.3; }

.img-content:hover .img-fade-middle {
  opacity: 1; }

.img-overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center; }

.img-content:hover .img-overlay {
  opacity: 1; }

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto; }

/* Next & previous buttons */
.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3); }

/* Position the "next button" to the right */
.slideshow-next {
  right: 1px;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.slideshow-text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 70px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.slideshow-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.slideshow-active, .slideshow-dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slideshow-prev, .slideshow-next, .slideshow-text {
    font-size: 11px; } }
.w3-card-4 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  padding: 10px;
  background-color: white; }
  .w3-card-4 .w3-card-4-header {
    padding: 2px 16px;
    background-color: white;
    color: #212121; }
  .w3-card-4 .w3-card-4-body {
    padding: 2px 16px;
    overflow-y: auto;
    max-height: 450px; }
  .w3-card-4 .w3-card-4-footer {
    padding: 2px 16px;
    background-color: white;
    color: #212121; }

/* On mouse-over, add a deeper shadow */
.w3-card-4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.img-konten-preview {
  float: left;
  margin-right: 20px;
  width: 240px;
  height: 144px; }

.img-konten {
  float: left;
  margin-right: 20px;
  width: 360px;
  height: 240px; }

.row::after {
  content: "";
  clear: both;
  display: table; }

.scroll-wrapper {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  flex: none;
  scroll-snap-align: start;
  /* latest (Chrome 69+) */
  scroll-snap-coordinate: 0% 0%;
  /* older (Firefox/IE) */
  -webkit-scroll-snap-coordinate: 0% 0%;
  /* older (Safari) */ }
  .scroll-wrapper .w3-card-4 {
    text-align: left;
    scroll-snap-align: start;
    flex: none;
    max-height: 180px; }
  .scroll-wrapper .img-konten-preview {
    float: left;
    margin-right: 10px;
    width: 144px;
    height: 100px; }

.scroll-wrapper.x {
  width: 100%;
  height: 100%;
  flex-flow: row nowrap; }
  .scroll-wrapper.x .w3-card-4 {
    width: 41.66%;
    max-height: 180px; }
  .scroll-wrapper.x .img-konten-preview {
    float: left;
    margin-right: 10px;
    width: 144px;
    height: 100px; }

.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory; }

.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; }

.lightbox {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95); }
  .lightbox .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold; }
  .lightbox .close:hover,
  .lightbox .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer; }
  .lightbox .cursor {
    cursor: pointer; }
  .lightbox .lightbox-dot {
    opacity: 0.6; }
  .lightbox .active,
  .lightbox .lightbox-dot:hover {
    opacity: 1; }

/* Modal Content */
.lightbox-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 75%;
  max-width: 750px; }

.lightbox-caption {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 16px;
  color: white; }

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; }

.checkbox:hover input ~ .checkmark {
  background-color: #ccc; }

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox input:checked ~ .checkmark:after {
  display: block; }

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@media screen and (max-width: 750px) {
  .scroll-wrapper.x .w3-card-4 {
    width: 80.66%;
    max-height: 180px; } }
video {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=App.css.map */
