<div id="root">
    <div class="w3-row">
        <div class="w3-col m12 l12">
            <form th:name="frAdd" th:method="POST" th:action="@{/kecamatan}" class="w3-content"
                  th:object="${kecamatan}" onsubmit="return validateForm('frAdd')">
                <input type="hidden" th:field="*{id}">
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{nama}" placeholder="Nama">
                    <label for="nama" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <label>Pilih Propinsi</label>
                    <select class="w3-select" th:field="*{kabKot.propinsi.id}">
                    </select>
                    <label for="kabKot.propinsi.id" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <select class="w3-select w3-hide" th:field="*{kabKot.id}">
                    </select>
                    <label for="kabKot.id" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <button class="w3-button w3-blue w3-margin w3-right" type="submit">Simpan</button>
            </form>
        </div>
    </div>
</div>