<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-container">
        <div class="w3-col m12 l12">
            <div class="w3-card-4">
                <header class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col m6 l6 s6"><h4>Data Kecamatan</h4></div>
                        <div class="w3-col m6 l6 s6">
                            <div class="w3-right">
                                <button class="w3-button w3-green w3-circle w3-margin">
                                    <i class="fa fa-plus" onclick="openModalAdd(0)"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m10 l10 s10">
                            <!--<div th:unless="${res.anonymous}">-->
                            <!--<div th:text=" 'Hi,' + ${customer.name}">Hi, User</div>-->
                            <!--</div>-->
                            <!--<input class="square-input-search" name="keywords" type="text"-->
                            <!--placeholder="Cari Judul ..."-->
                            <!--th:value="${param.s}"-->
                            <!--style="padding: 2px 20px 1px 40px; min-width: 152px;"/>-->
                        </div>
                    </div>
                </header>
                <br>
                <div class="w3-container" style="overflow: auto;">
                    <div class="w3-responsive w3-show" id="tblx">
                        <table class="w3-table-all">
                            <thead>
                            <tr>
                                <th>Nama</th>
                                <th>KabKot</th>
                                <th>Propinsi</th>
                                <th>Opsi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="res : ${data}">
                                <tr>
                                    <td th:text="${res.nama}"></td>
                                    <td th:text="${res.kabKot.nama}"></td>
                                    <td th:text="${res.kabKot.propinsi.nama}"></td>
                                    <td>
                                        <button class="w3-button w3-blue w3-circle">
                                            <i class="fa fa-pencil"
                                               th:onclick="|openModalAdd('${res.id}')|"></i>
                                        </button>
                                        <button class="w3-button w3-red w3-circle">
                                            <i class="fa fa-trash" th:onclick="|openModalDel('${res.id}')|"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
    });

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Form Kecamatan</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                var propinsi = document.querySelector('[name="kabKot.propinsi.id"]');
                var kabKot = document.querySelector('[name="kabKot.id"]');
                setupPropinsiOpt(propinsi, kabKot);
            }
        };
        xhr.open("GET", API_BASE_URL + '/kecamatan/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="kecamatan/del">' +
            '<input type="hidden" name="id" value="' + id + '">' +
            '<button class="w3-button w3-red w3-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.style.display = 'block';
    }

    function encodeQueryData(data) {
        var ret = [];
        for (var d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
        return ret.join('&');
    }

    function setupPropinsiOpt(propinsi, kabKot) {
        var str = "";
        var obj = {};
        var par = encodeQueryData(obj);
        var xhr1 = new XMLHttpRequest();
        xhr1.open('GET', API_BASE_URL + '/api/propinsi' + par, true);
        xhr1.setRequestHeader('Content-Type', 'application/json');
        xhr1.onreadystatechange = function () {
            if (xhr1.readyState == XMLHttpRequest.DONE) {
                var res = JSON.parse(xhr1.responseText);
                str = '<option value="0">-- Pilih Propinsi --</option>';
                res.forEach(function (v, i) {
                    str += '<option value="' + v.id + '">' + v.nama + '</option>';
                });
                propinsi.innerHTML = str;
                propinsi.addEventListener('change', function (e) {
                    str = "";
                    if (this.value === "0") {
                        kabKot.classList.replace("w3-show", "w3-hide");
                        kabKot.value = "0";
                    } else {
                        res.forEach(function (v, i) {
                            if (propinsi.value === v.id.toString()) {
                                str = '<option value="0">-- Pilih KabKot --</option>';
                                v.kabKots.forEach(function (v, i) {
                                    str += '<option value="' + v.id + '">' + v.nama + '</option>';
                                });
                                kabKot.innerHTML = str;
                                kabKot.classList.replace("w3-hide", "w3-show");
                            }
                        });
                    }
                });
            }
        };
        xhr1.send();
    }

</script>