<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Bioskop</title>
    <link rel="stylesheet" th:href="@{/plugin/w3.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" th:href="@{/css/App.css}">
    <link rel="stylesheet" th:href="@{/css/org_chart1.css}">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:remove="tag" th:insert="layout/header"></div>
<!--<div th:insert="layout/sidebar"></div>-->
<div th:remove="tag" th:insert="layout/content"></div>
<div th:remove="tag" th:insert="layout/snackbar"></div>
<div th:remove="tag" th:insert="layout/modal"></div>
<!--<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">-->
<!--<div class="w3-xlarge w3-section">-->
<!--<a href="https://facebook.com/" target="_blank" style="color: white;">-->
<!--<i class="fa fa-facebook-official w3-hover-opacity"></i>-->
<!--</a>-->
<!--<a href="https://twitter.com/DesakuPaningga2" target="_blank" style="color: white;">-->
<!--<i class="fa fa-twitter w3-hover-opacity"></i>-->
<!--</a>-->
<!--<a href="https://youtube.com/DesakuPaningga2" target="_blank" style="color: white;">-->
<!--<i class="fa fa-youtube"></i>-->
<!--</a>-->
<!--</div>-->
<!--<p>App Bioskop V.0.0</p>-->
<!--</footer>-->
</body>
<script type="text/javascript">
    function validateForm(formName) {
        var fr = document.forms[formName];
        for (var i = 0; i < fr.length; i++) {
            var elm = fr.elements[i];
            var elmName = elm.name;
            var val = fr[i].value;
            var labelFor = `label[for="${elmName}"]`;
            labelFor = document.querySelector(labelFor);
            if (elmName !== "") {
                switch (elm.localName.toString()) {
                    case "input":
                        // console.log(document.querySelector('label').attributes["for"].nodeValue);
                        if (labelFor !== null) {
                            if (val == "") {
                                labelFor.classList.remove("w3-hide");
                                labelFor.classList.add("w3-show");
                                return false;
                            } else {
                                labelFor.classList.remove("w3-show");
                                labelFor.classList.add("w3-hide");
                            }
                        }
                        break;
                    case "select":
                        if (labelFor !== null) {
                            if (val == "0" || val == "") {
                                labelFor.classList.remove("w3-hide");
                                labelFor.classList.add("w3-show");
                                return false;
                            } else {
                                labelFor.classList.remove("w3-show");
                                labelFor.classList.add("w3-hide");
                            }
                        }
                        break;
                }
            }
            // if (elm.required) {
            //     var x = fr[i][elm.name].value;
            //     if (x == "") {
            //         var alertLable = fr[i].querySelector("label");
            //         console.log(alertLable);
            //         return false;
            //     }
            // }
        }
    }
</script>
</html>
