<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-center">
        <a th:href="@{/film}" class="w3-button w3-blue w3-margin">Data Film</a>
        <a th:href="@{/penonton}" class="w3-button w3-orange w3-margin">Data Penonton</a>
        <a th:href="@{/film/me}" class="w3-button w3-yellow w3-margin">Tontonan Saya</a>
    </div>
</div>