<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-container">
        <div class="w3-col m12 l12">
            <div class="w3-card-4">
                <header class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col m6 l6 s6"><h4>Data Employee</h4></div>
                        <div class="w3-col m6 l6 s6">
                            <div class="w3-right">
                                <a th:href="@{/employee/export/pdf}" class="w3-button w3-red w3-margin">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                                <a th:href="@{/employee/export/excel}" class="w3-button w3-green w3-margin">
                                    <i class="fa fa-file-excel-o"></i>
                                </a>
                                <button class="w3-button w3-orange w3-circle w3-margin">
                                    <i class="fa fa-table" id="btnChView1"></i>
                                </button>
                                <button class="w3-button w3-orange w3-circle w3-margin">
                                    <i class="fa fa-sitemap" id="btnChView"></i>
                                </button>
                                <button class="w3-button w3-green w3-circle w3-margin">
                                    <i class="fa fa-plus" onclick="openModalAdd(0, 0)"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m10 l10 s10">
                            <!--<div th:unless="${res.anonymous}">-->
                            <!--<div th:text=" 'Hi,' + ${customer.name}">Hi, User</div>-->
                            <!--</div>-->
                            <!--<input class="square-input-search" name="keywords" type="text"-->
                            <!--placeholder="Cari Judul ..."-->
                            <!--th:value="${param.s}"-->
                            <!--style="padding: 2px 20px 1px 40px; min-width: 152px;"/>-->
                        </div>
                    </div>
                </header>
                <br>
                <div class="w3-container" style="overflow: auto;">
                    <div class="w3-responsive w3-show" id="tblx">
                        <table class="w3-table-all">
                            <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Jabatan</th>
                                <th>Atasan</th>
                                <th>Company</th>
                                <th>Opsi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="res : ${data}">
                                <tr>
                                    <td th:text="${res.nama}"></td>
                                    <td th:text="CEO"></td>
                                    <td th:text="'-'"></td>
                                    <td th:text="${res.company.nama}"></td>
                                    <td>
                                        <button class="w3-button w3-blue w3-circle">
                                            <i class="fa fa-pencil"
                                               th:onclick="|openModalAdd('${res.id}', '${res.atasanId}')|"></i>
                                        </button>
                                        <button class="w3-button w3-red w3-circle">
                                            <i class="fa fa-trash" th:onclick="|openModalDel('${res.id}')|"></i>
                                        </button>
                                    </td>
                                </tr>
                                <th:block th:each="res1 : ${res.employees}">
                                    <tr>
                                        <td th:text="${res1.nama}"></td>
                                        <td th:text="Direktur"></td>
                                        <td th:text="${res.nama}"></td>
                                        <td th:text="${res1.company.nama}"></td>
                                        <td>
                                            <button class="w3-button w3-blue w3-circle">
                                                <i class="fa fa-pencil"
                                                   th:onclick="|openModalAdd('${res1.id}', '${res1.atasanId}')|"></i>
                                            </button>
                                            <button class="w3-button w3-red w3-circle">
                                                <i class="fa fa-trash" th:onclick="|openModalDel('${res1.id}')|"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <th:block th:each="res2 : ${res1.employees}">
                                        <tr>
                                            <td th:text="${res2.nama}"></td>
                                            <td th:text="Manager"></td>
                                            <td th:text="${res1.nama}"></td>
                                            <td th:text="${res2.company.nama}"></td>
                                            <td>
                                                <button class="w3-button w3-blue w3-circle">
                                                    <i class="fa fa-pencil"
                                                       th:onclick="|openModalAdd('${res2.id}', '${res2.atasanId}')|"></i>
                                                </button>
                                                <button class="w3-button w3-red w3-circle">
                                                    <i class="fa fa-trash"
                                                       th:onclick="|openModalDel('${res2.id}')|"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <th:block th:each="res3 : ${res2.employees}">
                                            <tr>
                                                <td th:text="${res3.nama}"></td>
                                                <td th:text="Staff"></td>
                                                <td th:text="${res2.nama}"></td>
                                                <td th:text="${res3.company.nama}"></td>
                                                <td>
                                                    <button class="w3-button w3-blue w3-circle">
                                                        <i class="fa fa-pencil"
                                                           th:onclick="|openModalAdd('${res3.id}', '${res3.atasanId}')|"></i>
                                                    </button>
                                                    <button class="w3-button w3-red w3-circle">
                                                        <i class="fa fa-trash"
                                                           th:onclick="|openModalDel('${res3.id}')|"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <div class="w3-center w3-hide" id="treex">
                        <div th:remove="tag" th:utext="${dataStruktur}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
        var tblx = document.getElementById('tblx');
        var trex = document.getElementById('treex');
        document.getElementById('btnChView').addEventListener('click', function (evt) {
            tblx.classList.replace("w3-show", "w3-hide");
            trex.classList.replace("w3-hide", "w3-show");
        });
        document.getElementById('btnChView1').addEventListener('click', function (evt) {
            tblx.classList.replace("w3-hide", "w3-show");
            trex.classList.replace("w3-show", "w3-hide");
        });
    });

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Employee</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
            }
        };
        xhr.open("GET", API_BASE_URL + '/employee/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalAdd(id, isAtasanId) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Form Employee</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                var isCEO = document.querySelector('[name="isCEO"]');
                var companyId = document.querySelector('[name="company.id"]');
                var atasanId = document.querySelector('[name="atasanId"]');
                var lblAtasanId = document.getElementById('lblAtasanId');
                if (id === 0) {
                    isCEO.checked = false;
                }
                if (isCEO.checked) {
                    lblAtasanId.classList.replace("w3-show", "w3-hide");
                    atasanId.classList.replace("w3-show", "w3-hide");
                } else {
                    lblAtasanId.classList.replace("w3-hide", "w3-show");
                    atasanId.classList.replace("w3-hide", "w3-show");
                }
                isCEO.addEventListener('click', function (e) {
                    if (this.checked) {
                        lblAtasanId.classList.replace("w3-show", "w3-hide");
                        atasanId.classList.replace("w3-show", "w3-hide");
                        atasanId.value = "0";
                    } else {
                        lblAtasanId.classList.replace("w3-hide", "w3-show");
                        atasanId.classList.replace("w3-hide", "w3-show");
                        atasanId.value = isAtasanId;
                    }
                });

                companyId.addEventListener('change', function (e) {
                    if (this.value === "0") {
                        lblAtasanId.classList.replace("w3-show", "w3-hide");
                        atasanId.classList.replace("w3-show", "w3-hide");
                        atasanId.value = "0";
                    } else {
                        setupAtasanOpt(atasanId, this.value, id);
                    }
                });
            }
        };
        xhr.open("GET", API_BASE_URL + '/employee/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="employee/del">' +
            '<input type="hidden" name="id" value="' + id + '">' +
            '<button class="w3-button w3-red w3-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.style.display = 'block';
    }

    function encodeQueryData(data) {
        var ret = [];
        for (var d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
        return ret.join('&');
    }

    function setupAtasanOpt(atasanId, companyId, idMe) {
        var str = "";
        var obj = {
            companyId: companyId,
            jabatan: "ceo"
        };
        var par = encodeQueryData(obj);
        var xhr1 = new XMLHttpRequest();
        xhr1.open('GET', API_BASE_URL + '/api/employee?' + par, true);
        xhr1.setRequestHeader('Content-Type', 'application/json');
        xhr1.onreadystatechange = function () {
            if (xhr1.readyState == XMLHttpRequest.DONE) {
                var res = JSON.parse(xhr1.responseText);
                str = '<option value="0">-- Pilih Atasan --</option>';
                res.forEach(function (v, i) {
                    if (v.id !== idMe) {
                        str += '<option value="' + v.id + '">' + v.nama + ' | CEO</option>';
                    }
                });
                res.forEach(function (v, i) {
                    v.employees.forEach(function (v1, i1) {
                        if (v1.id !== idMe) {
                            str += '<option value="' + v1.id + '">' + v1.nama + ' | Direktur</option>';
                        }
                    });
                });
                res.forEach(function (v, i) {
                    v.employees.forEach(function (v1, i1) {
                        v1.employees.forEach(function (v2, i2) {
                            if (v2.id !== idMe) {
                                str += '<option value="' + v2.id + '">' + v2.nama + ' | Manager</option>';
                            }
                        });
                    });
                });
                atasanId.innerHTML = str;
            }
        };
        xhr1.send();
    }

</script>