<div class="row">
    <!--<div class="col-md-3">-->
        <!--<div class="card-counter success">-->
            <!--<i class="fa fa-database"></i>-->
            <!--<span class="count-numbers">1</span>-->
            <!--<span class="count-name">Gambar</span>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-md-3">
        <div class="card-counter info">
            <i class="fa fa-users"></i>
            <span class="count-numbers">App</span>
            <span class="count-name">SIKAMPUS</span>
        </div>
    </div>
</div>