<div id="root">
    <div class="w3-row">
        <div class="w3-col m12 l12">
            <form th:name="frAdd" th:method="POST" th:action="@{/film}" class="w3-container" th:object="${film}"
                  onsubmit="return validateForm('frAdd')">
                <input type="hidden" th:field="*{id}">
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{judulFilm}" placeholder="Judul Film">
                    <label for="judulFilm" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{durasi}" placeholder="Durasi (Menit)">
                    <label for="durasi" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{waktuTayang}" placeholder="Waktu Tayang">
                    <label for="waktuTayang" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{hargaTiket}" placeholder="Harga Tiket">
                    <label for="hargaTiket" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <button class="w3-button w3-blue w3-margin w3-right" type="submit">Simpan</button>
            </form>
        </div>
    </div>
</div>