<div id="root" style="margin: 20px;" class="w3-padding-64">
    <div class="w3-container">
        <div class="w3-col m12 l12">
            <div class="w3-card-4">
                <header class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col m10 l10 s6"><h4>Data Film</h4></div>
                        <div class="w3-col m2 l2 s6">
                            <div class="w3-right">
                                <button class="w3-button w3-green w3-circle w3-margin">
                                    <i class="fa fa-plus" onclick="openModalAdd(0)"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m10 l10 s10">
                            <!--<div th:unless="${res.anonymous}">-->
                            <!--<div th:text=" 'Hi,' + ${customer.name}">Hi, User</div>-->
                            <!--</div>-->
                            <!--<input class="square-input-search" name="keywords" type="text"-->
                            <!--placeholder="Cari Judul ..."-->
                            <!--th:value="${param.s}"-->
                            <!--style="padding: 2px 20px 1px 40px; min-width: 152px;"/>-->
                        </div>
                    </div>
                </header>
                <br>
                <div class="w3-container">
                    <div class="w3-responsive">
                        <table class="w3-table-all">
                            <thead>
                            <tr>
                                <th># Pilih Film</th>
                                <th>Judul</th>
                                <th>Durasi</th>
                                <th>Wkt. Tayang</th>
                                <th>Harga Tiket</th>
                                <th>Opsi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="res : ${data}">
                                <tr>
                                    <td>
                                        <input type="checkbox" class="w3-check" th:name="filmId" th:value="${res.id}"
                                               onclick="setButtonTiket()">
                                        <input type="hidden" th:name="judulFilm" th:value="${res.judulFilm}">
                                        <input type="hidden" th:name="durasi" th:value="${res.durasi}">
                                        <input type="hidden" th:name="waktuTayang"
                                               th:value="${#dates.format(res.waktuTayang, 'dd MMM yyyy HH:mm')}">
                                        <input type="hidden" th:name="hargaTiket" th:value="${res.hargaTiket}">
                                    </td>
                                    <td th:text="${res.judulFilm}"></td>
                                    <td th:text="${res.durasi}"></td>
                                    <td th:text="${#dates.format(res.waktuTayang, 'dd MMM yyyy HH:mm')}"></td>
                                    <td th:text="${res.hargaTiket}"></td>
                                    <td>
                                        <button class="w3-button w3-blue w3-circle">
                                            <i class="fa fa-pencil" th:onclick="|openModalAdd('${res.id}')|"></i>
                                        </button>
                                        <button class="w3-button w3-red w3-circle">
                                            <i class="fa fa-trash" th:onclick="|openModalDel('${res.id}')|"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <footer class="w3-container">
                    <div class="w3-right">
                        <button class="w3-button w3-blue w3-margin w3-hide" id="btnTiket">
                            <i class="fa fa-ticket"></i> Beli Tiket
                        </button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var res = [[${res}]];
    var filmId = document.querySelectorAll('[name="filmId"]');
    var judulFilm = document.querySelectorAll('[name="judulFilm"]');
    var durasi = document.querySelectorAll('[name="durasi"]');
    var waktuTayang = document.querySelectorAll('[name="waktuTayang"]');
    var hargaTiket = document.querySelectorAll('[name="hargaTiket"]');
    var btnTiket = document.getElementById('btnTiket');
    document.addEventListener("DOMContentLoaded", function (e) {
        if (res !== null) {
            handleSnackbar(res.msg);
        }
        btnTiket.addEventListener('click', function (ev) {
            var isChecked = false;
            for (var i = 0; i < filmId.length; i++) {
                if (filmId[i].checked) {
                    isChecked = true;
                    break;
                }
            }
            if (isChecked) {
                openModalTiket();
            } else {
                handleSnackbar("Silahkan pilih film untuk melanjutkan");
            }
        });
    });

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Film</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
            }
        };
        xhr.open("GET", API_BASE_URL + '/film/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalAdd(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Form Film</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
            }
        };
        xhr.open("GET", API_BASE_URL + '/film/' + id, true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function openModalDel(id) {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "<h3>Hapus Data</h3>";
        mdlTitle.innerHTML = str;
        mdlContent.innerHTML = '<p>Apa Kamu yakin akan hapus data ini ?</p>';
        mdlFooter.innerHTML = '<form method="POST" action="film/del">' +
            '<input type="hidden" name="id" value="' + id + '">' +
            '<button class="w3-button w3-red w3-right" type="submit">Ya, Saya yakin</button>' +
            '</form>';
        mdl.style.display = 'block';
    }


    function openModalTiket() {
        var mdl = document.getElementById('modalDefault');
        var mdlTitle = document.getElementById('modalTitle');
        var mdlContent = document.getElementById('modalContent');
        var mdlFooter = document.getElementById('modalFooter');
        var str = "";
        str = "<h3>Beli Tiket Film</h3>";
        mdlTitle.innerHTML = str;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                mdlContent.innerHTML = xhr.responseText;
                var id = document.querySelector('[name="id"]');
                var nama = document.querySelector('[name="nama"]');
                var noId = document.querySelector('[name="noId"]');
                id.addEventListener('keyup', function (evt) {
                    if (this.value !== "") {
                        setupPenonton(this.value, nama, noId);
                    } else {
                        nama.value = "";
                        noId.value = "";
                    }
                });
                setupFilms();
            }
        };
        xhr.open("GET", API_BASE_URL + '/penonton/ticket/0', true);
        xhr.setRequestHeader('Content-type', 'text/html');
        xhr.send();
        str = "";
        mdlFooter.innerHTML = str;
        mdl.style.display = 'block';
    }

    function setButtonTiket() {
        var isChecked = false;
        for (var i = 0; i < filmId.length; i++) {
            if (filmId[i].checked) {
                isChecked = true;
                break;
            }
        }
        if (isChecked) {
            btnTiket.classList.replace("w3-hide", 'w3-show');
        } else {
            btnTiket.classList.replace("w3-show", 'w3-hide');
        }
    }

    function setupPenonton(id, nama, noId) {
        var xhr1 = new XMLHttpRequest();
        xhr1.open('GET', API_BASE_URL + '/api/penonton/' + id, true);
        xhr1.setRequestHeader('Content-Type', 'application/json');
        xhr1.onreadystatechange = function () {
            if (xhr1.readyState == XMLHttpRequest.DONE) {
                var res = JSON.parse(xhr1.responseText);
                nama.value = res.nama;
                noId.value = res.noId;
            }
        };
        xhr1.send();
    }

    function setupFilms() {
        var str = "";
        var tbl = document.getElementById('tblFilm');
        tbl.getElementsByTagName('tbody')[0].innerHTML = str;
        for (var i = 0; i < filmId.length; i++) {
            if (filmId[i].checked) {
                str += '<tr>' +
                    '<input type="hidden" id="films' + i + '" name="films[' + i + ']" value="' + filmId[i].value + '"/>' +
                    '<td>' + judulFilm[i].value + '</td>' +
                    '<td>' + durasi[i].value + '</td>' +
                    '<td>' + waktuTayang[i].value + '</td>' +
                    '<td>' + hargaTiket[i].value + '</td>' +
                    '</tr>';
            }
        }
        tbl.getElementsByTagName('tbody')[0].innerHTML = str;
    }
</script>