<div id="root">
    <div class="w3-row">
        <div class="w3-col m12 l12">
            <form th:name="frAdd" th:method="POST" th:action="@{/penonton/ticket}" class="w3-container" th:object="${penonton}"
                  onsubmit="return validateForm('frAdd')">
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{id}" placeholder="ID. Penonton">
                    <label for="id" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                    <input class="w3-input" type="text" th:field="*{nama}" placeholder="Nama" readonly>
                    <input class="w3-input" type="text" th:field="*{noId}" placeholder="KTP/SIM" readonly>
                    <label for="noId" class="w3-label w3-hide" style="color: #f44336;">Data penonton ID tersebut tidak ditemukan</label>
                </div>
                <div class="w3-margin">
                    <div class="w3-responsive">
                        <table class="w3-table-all" id="tblFilm">
                            <thead>
                            <tr>
                                <th>Judul</th>
                                <th>Durasi</th>
                                <th>Wkt. Tayang</th>
                                <th>Harga Tiket</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="res, stat : *{films}">
                                <tr>
                                    <input type="hidden" th:field="*{films[__${stat.index}__]}"/>
                                    <td th:text="${res.judulFilm}"></td>
                                    <td th:text="${res.durasi}"></td>
                                    <td th:text="${#dates.format(res.waktuTayang, 'dd MMM yyyy HH:mm')}"></td>
                                    <td th:text="${res.hargaTiket}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="w3-button w3-blue w3-margin w3-right" type="submit">Simpan</button>
            </form>
        </div>
    </div>
</div>