<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Access Denied</title>
</head>
<style>
    h1 {
        color: #78ab46;
    }

    footer {
        position: fixed;
        height: 50px;
        bottom: 0;
        width: 100%;
        background-color: #ccc
    }

    footer p {
        padding: 15px;
    }
</style>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Access denied</h1>
    <p><a th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>