<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <script th:src="@{/js/base.js}"></script>
</head>
<body>
<div class="w3-row">
    <div class="w3-col m4 w3-display-middle">
        <div class="w3-card">
            <div class="w3-container w3-blue">
                <h2>Kalkulator Sederhana</h2>
            </div>
            <form class="w3-container w3-center" th:method="POST" th:action="@{/api/hv}"
                  onsubmit="submitKonten(event)">
                <div class="w3-row w3-margin">
                    <div class="w3-col m12">
                        <label>Tulis Teks</label>
                        <textarea class="w3-input w3-border" th:name="in">
                        </textarea>
                    </div>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col m12">
                        <button class="w3-button w3-border w3-white" name="btnSub">
                            Tampilkan
                        </button>
                    </div>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col">
                        <table class="w3-table-all" id="tblData">
                            <thead>
                            <tr>
                                <th>Text Hasil</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    function submitKonten(e) {
        e.preventDefault();
        var eMethod = e.target.method;
        var elements = e.target.elements;
        var obj = {};
        for (var i = 0; i < elements.length; i++) {
            var item = elements.item(i);
            obj[item.name] = item.value;
        }
        var xhr = new XMLHttpRequest();
        xhr.open(eMethod, e.target.action, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            var tbl = document.getElementById('tblData');
            var str = "";
            if (xhr.readyState == XMLHttpRequest.DONE) {
                var res = xhr.responseText;
                str += '<tr>' +
                    '<td>' + res + '</td>' +
                    '</tr>';
                tbl.getElementsByTagName('tbody')[0].innerHTML = str;
            }
        };
        xhr.send(JSON.stringify(obj));
    }
</script>
</html>