<div id="root">
    <div class="w3-row">
        <div class="w3-col m12 l12">
            <form th:name="frAdd" th:method="POST" th:action="@{/employee}" class="w3-content"
                  th:object="${employee}" onsubmit="return validateForm('frAdd')">
                <input type="hidden" th:field="*{id}">
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{nama}" placeholder="Nama">
                    <label for="nama" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-row w3-margin">
                    <div class="w3-col m1">
                        <input type="checkbox" class="w3-check" th:name="isCEO" th:checked="*{atasanId} == 0">
                    </div>
                    <div class="w3-col m6">
                        <label>CEO</label>
                    </div>
                </div>
                <div class="w3-margin">
                    <label>Pilih Company</label>
                    <select class="w3-select" th:field="*{company.id}">
                        <option th:each="res : ${companyOpt}" th:value="${res.id}" th:text="${res.nama}"></option>
                    </select>
                    <label for="company.id" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <label id="lblAtasanId" class="w3-show">Pilih Atasan</label>
                    <select class="w3-select w3-show" th:field="*{atasanId}">
                        <option value="0">-- Pilih Atasan --</option>
                        <th:block th:each="res : ${employeeOpt}">
                            <th:block th:if="${res.id} != *{id}">
                                <option th:value="${res.id}" th:text="${res.nama} + ' | CEO'"></option>
                            </th:block>
                        </th:block>
                        <th:block th:each="res : ${employeeOpt}">
                            <th:block th:each="res1 : ${res.employees}">
                                <th:block th:if="${res1.id} != *{id}">
                                    <option th:value="${res1.id}" th:text="${res1.nama} + ' | Direktur'"></option>
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block th:each="res : ${employeeOpt}">
                            <th:block th:each="res1 : ${res.employees}">
                                <th:block th:each="res2 : ${res1.employees}">
                                    <th:block th:if="${res2.id} != *{id}">
                                        <option th:value="${res2.id}" th:text="${res2.nama} + ' | Manager'"></option>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>
                    </select>
                </div>
                <button class="w3-button w3-blue w3-margin w3-right" type="submit">Simpan</button>
            </form>
        </div>
    </div>
</div>