<div id="root">
    <div class="w3-row">
        <div class="w3-col m12 l12">
            <form th:name="frAdd" th:method="POST" th:action="@{/penonton}" class="w3-container" th:object="${penonton}"
                  onsubmit="return validateForm('frAdd')">
                <input type="hidden" th:field="*{id}">
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{nama}" placeholder="Nama">
                    <label for="nama" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <div class="w3-margin">
                    <input class="w3-input" type="text" th:field="*{noId}" placeholder="KTP/SIM">
                    <label for="noId" class="w3-label w3-hide" style="color: #f44336;">Field harus diisi</label>
                </div>
                <button class="w3-button w3-blue w3-margin w3-right" type="submit">Simpan</button>
            </form>
        </div>
    </div>
</div>