<div id="root">
    <div class="w3-row">
        <div class="w3-col m12 l12">
            <div class="w3-container">
                <div class="w3-margin">
                    <div class="w3-responsive">
                        <table class="w3-table-all" id="tblFilm">
                            <thead>
                            <tr>
                                <th>Judul</th>
                                <th>Durasi</th>
                                <th>Wkt. Tayang</th>
                                <th>Harga Tiket</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>